<% layout('layouts/main', { title: 'Authors' }) %>
<% if (message) { %>
<script>
  alert("<%= message %>");
</script>
<% } %>


<h2>Authors</h2>
<a href="/authors/create">Add New Author</a>
<ul>
    <% authors.forEach(author => { %>
        <li>
            <a href="/authors/<%= author.id %>"><%= author.name %></a>
        </li>
    <% }) %>
</ul>
