<header>
    <nav>
        <div class="nav-left">
            <a href="/home">Home</a>
            <a href="/books">Books</a>
            <a href="/authors">Authors</a>
            <a href="/genres">Genres</a>
            <a href="/orders">My Orders</a>
            <a href="/users">Users</a>
        </div>
        <div class="nav-right">
            <a href="/auth/signin" class="header-link">Login</a> 
            <a href="/auth/signup" class="header-link">Register</a>
            <a href="/auth/me" class="header-link">Profile</a>
            <a href="/auth/verify-otp" class="header-link">Verify OTP</a> 
            <a href="/auth/logout" class="header-link">Logout</a>
             <a href="/auth/refresh-token" class="header-link">Refresh Tokens</a> 
        </div>
    </nav>
</header>