<% if (typeof message !== 'undefined' && message) { %>
  <div class="messages" style="border-left:5px solid green; padding: 10px; margin: 10px 0; background-color: #d4edda; color: #155724; border-radius: 4px;">
    <%= message %>
  </div>
<% } %>

